
.search{
    text-align:right; 
}
Img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 40px;
    float: left;
    padding: 10px;
}

.box1,
.box2,
.box3,
.box4 {
    float: left;
    padding-left: 10px;  
}

.f1,
.f2,
.f3,
.f4 {
    border-radius: 30px;
    border: dashed #CECEFF 3px;
    height: fit-content;
    width: 400px;
    padding: 15px;
    background-image: url("HTML元素/深藍背景.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    float: left;
}

figcaption {
    color: aliceblue;
}

.h1 {
    background-image: url("HTML元素/深藍背景.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: aliceblue;
}


