<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection Pool</description>
		<res-ref-name>jdbc/TableGameDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<servlet>
		<description></description>
		<display-name>GetGameInfoServlet</display-name>
		<servlet-name>GetGameInfoServlet</servlet-name>
		<servlet-class>GetGameInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetGameInfoServlet</servlet-name>
		<url-pattern>/GetGameInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TableGameServletDS</display-name>
		<servlet-name>TableGameServletDS</servlet-name>
		<servlet-class>TableGameServletDS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TableGameServletDS</servlet-name>
		<url-pattern>/TableGameServletDS</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchGame</display-name>
		<servlet-name>SearchGame</servlet-name>
		<servlet-class>SearchGame</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchGame</servlet-name>
		<url-pattern>/SearchGame</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreatGame</display-name>
		<servlet-name>CreatGame</servlet-name>
		<servlet-class>CreatGame</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreatGame</servlet-name>
		<url-pattern>/CreatGame</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateGame</display-name>
		<servlet-name>UpdateGame</servlet-name>
		<servlet-class>UpdateGame</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateGame</servlet-name>
		<url-pattern>/UpdateGame</url-pattern>
	</servlet-mapping>

</web-app>